*.komodoproject
*.pyc
.#*
.*.swo
.*.swp
.DS_Store
._.DS_Store
.buildpath
.cache
.env
.externalToolBuilders
.idea
.project
.pydevproject
.projectile
.realsync*
.settings
.svn
.unrealsync
.vscode
node_modules/
